.paragraph {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.pic {
  width: 50%;
  align-content: center;
  
}

.cards {
  align-content: center;
}

.quote {
  font-family: 'Comforter', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Yellowtail', cursive;
  font-size: 20px;
  color: black;
  padding: 15px;
}

.subscribe {
  height:fit-content;
    margin: auto;
    display:flex;
    width:max-content;
}
