<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button color="primary">
      </ion-menu-button>
    </ion-buttons>
   
          <div text-center class="mainlogo">
            <ion-img class="logo" src="https://i.postimg.cc/FspN4R6D/CCALogo.jpg"></ion-img>
          </div>
        
          
            <ion-buttons slot="end"> 
              <ion-button href="https://www.facebook.com/coastalcheerathleticsLC">
                <ion-icon size="small" name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button href="https://www.instagram.com/coastalcheerathleticslc/?utm_medium=copy_link&fbclid=IwAR3AlUk8hc4idIsHUTbJpwVNTLZSzmTEy2pqLqYunykMOTqRnyJvLnoxLoM">
                <ion-icon size="small" name="logo-instagram"></ion-icon>
              </ion-button>
            </ion-buttons>
            
            
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-grid>
    
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        
        <p  class="quote paragraph">"The coach can make you practice. The crowd can cheer you on. But only the desire for success can make you a champion."</p>&nbsp;
        
              <app-banner [bannerImages]="banners"></app-banner>
              <!-- <p class="ion-padding" style="font-size: 17px;">We're a non-profit that is looking to bring a new, fun and exciting youth cheerleading program to Lincoln City! We're in the early stages of this process, but during that time if you'd like to keep updated on what's to come, please subscribe below!</p> -->
              
        
        <div class="cards">
        <ion-card-content class="ion-text-center">
          <ion-card class="quotecard">
              <p class="ion-padding paragraph" style="font-size: 17px;">We're a non-profit that is looking to bring a new, fun and exciting youth cheerleading program to Lincoln City!<br><br> We're in the early stages of this process, including this website, but during that time if you'd like to keep updated on what's to come, please follow us on social media below!</p> 
              <div class="social ion-padding-bottom">
              <ion-button href="https://www.facebook.com/coastalcheerathleticsLC">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button href="https://www.instagram.com/coastalcheerathleticslc/?utm_medium=copy_link&fbclid=IwAR3AlUk8hc4idIsHUTbJpwVNTLZSzmTEy2pqLqYunykMOTqRnyJvLnoxLoM">
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-button>
              </div>
              <ion-item-divider mode="md"></ion-item-divider>
            <p class="ion-padding paragraph" style="font-size: 17px;">One of our main goals before opening our doors to your precious youth participants is getting the proper equipment to amplify their ability to succeed.<br><br> We are now accepting donations to provide our gym with cheer mats to practice on! Please whatever you can donate would be appreciated!! Any businesses in town or out of town who donates $100 or more will get their logos on our practice shirts and website!</p> 
            <div class="social ion-padding-bottom">
            <ion-button href="https://venmo.com/u/CoastalCheerAthletics">
              Donate
            </ion-button>
          </div>
        </ion-card>
        </ion-card-content>
          </div>
      </ion-col> 
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>

      <ion-col size-sm="6" offset-sm="3">
        <ion-card-content>
          <div class="subscribe">
            <ion-card class="subcard">
            <ion-toolbar color="primary" style="height: 40px;" class="ion-text-center"><ion-text class="title" style="font-size: 19px;">Subscribe!</ion-text></ion-toolbar>
            <ion-item color="red">
              <ion-label class="label" position="floating">Name</ion-label>
              <ion-input type="name" 
                         ngModel 
                         name="name" 
                         name
                         
                         
              ></ion-input>
            </ion-item>
            <ion-item color="red">
              <ion-label class="label" position="floating">Email</ion-label>
              <ion-input type="email" 
                         ngModel 
                         name="email" 
                         email
                         
                         
              ></ion-input>
            </ion-item>
          
            <div class="ion-text-center">
            <ion-button 
              type="submit" 
              color="primary" 
              
              >
              
            Submit
            </ion-button>
            </div>   
          </ion-card>
          
          </div> 
        </ion-card-content>
      </ion-col> 
    </ion-row>
  </ion-grid> -->

</ion-content>












<!-- <ion-content class="ion-padding">
  <ion-item-divider></ion-item-divider>
  <div class="ion-text-center">
    <ion-text>Spotlight</ion-text>
    
  </div> -->
  
  <!-- <ion-segment (ionChange)="onFilterUpdate($event)" value="all">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment> -->
  <!-- <ion-grid *ngIf="!relevantPlaces || relevantPlaces.length <= 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="relevantPlaces.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ relevantPlaces[0].price | currency }} /
              Athlete</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
            
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="[
                '/',
                'places',
                'tabs',
                'discover',
                relevantPlaces[0].id
              ]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll
          [items]="listedLoadedPlaces"
          approxItemHeight="70px"
        >
          <ion-item
            [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
            detail
            *virtualItem="let place"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 -->