.paragraph {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.pic {
  width: 50%;
  align-content: center;
  
}

.cards {
  align-content: center;
}

.quote {
  font-family: 'Comforter', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Yellowtail', cursive;
  font-size: 19px;
  color: black;
  padding: 15px;
  text-align: center;
}

.subscribe {
  height:fit-content;
    margin: auto;
    display:flex;
    width:max-content;
    
    
}

.subcard {
  box-shadow: 1px 1px 1px gray;
  //border-style:solid;
}

.quotecard {
  border-radius: 50px;
  //border-style:solid;
 box-shadow: 1px 2px 2px gray;
  
  
}

p {
  text-align: center;
}