ion-slides {
  --bullet-background: rgb(194, 250, 250);
  height: 25vh;
  ion-slide {
      ion-img {
          height: 28vh;
          width: 100%;
          margin: auto;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          
      }
    }
}