<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="white">
        <ion-thumbnail>
          <ion-img  src="https://i.postimg.cc/FKmr73mc/CCALogo-Pic.png"></ion-img>
        </ion-thumbnail>
          
        
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="home-outline" color="primary" slot="start"></ion-icon>
            <ion-label color="primary">Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [disabled]="true" lines="none" routerLink="/bookings">
            <ion-icon color="primary" name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label color="primary">My Events</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [disabled]="true" lines="none" (click)="onLogout()" button>
            <ion-icon color="primary" name="exit" slot="start"></ion-icon>
            <ion-label color="primary">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
