// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Pacifico&family=Yellowtail&display=swap');


.ion-invalid.ion-touched ion-label {
    color: var(--ion-color-danger);
}


.mainlogo {
    
    height: 8vh;
    width: 10vh;
    margin: auto;
    display:flex;
    
}
.dummy {
    color: white;
  }

ion-card {
    background-color: white;
    
}

ion-toolbar {
    background-color: white;
}

ion-content {
    --background: none;
    background-image: url('/assets/imgs/back2.jpg');
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    background-blend-mode: color;
    
}

.override {
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.borderBottom {
    border-bottom: .8vh solid var(--ion-color-light);
}